In [130]:
import csv
import json
import pandas as pd

## To Do
- Remove two columns
- update clumns website
- go up to 5000 lines

In [131]:
df = pd.read_csv("../Resources/movie_df_with_labels.csv", index_col=["Unnamed: 0"])
df.head()

,adult,budget,original_language,popularity,revenue,runtime,status,title,vote_average,vote_count,...,genre_horror,genre_music,genre_mystery,genre_romance,genre_science_fiction,genre_tv_movie,genre_thriller,genre_war,genre_western,group
0,False,0,en,8.387519,76578911,106.0,Released,Father of the Bride Part II,5.7,173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
1,False,35000000,en,5.231580,64350171,106.0,Released,Sudden Death,5.5,174,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
2,False,58000000,en,14.686036,352194034,130.0,Released,GoldenEye,6.6,1194,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2
3,False,62000000,en,6.318445,107879496,106.0,Released,The American President,6.5,199,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3
4,False,0,en,5.430331,0,88.0,Released,Dracula: Dead and Loving It,5.7,210,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [132]:

df.columns

Index(['adult', 'budget', 'original_language', 'popularity', 'revenue',
       'runtime', 'status', 'title', 'vote_average', 'vote_count',
       'genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_horror',
       'genre_music', 'genre_mystery', 'genre_romance',
       'genre_science_fiction', 'genre_tv_movie', 'genre_thriller',
       'genre_war', 'genre_western', 'group'],
      dtype='object')

In [133]:
df = df.rename(columns={'genre_science_fiction':'genre_science-fiction', 'genre_tv_movie':'genre_tv-movie'})
genres = df[['genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_horror',
       'genre_music', 'genre_mystery', 'genre_romance',
       'genre_science-fiction', 'genre_tv-movie', 'genre_thriller',
       'genre_war', 'genre_western']]
genres.columns

Index(['genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_horror',
       'genre_music', 'genre_mystery', 'genre_romance',
       'genre_science-fiction', 'genre_tv-movie', 'genre_thriller',
       'genre_war', 'genre_western'],
      dtype='object')

In [134]:
genres_bool = genres.replace({0.0: False, 1.0: True})
genres_bool['genre'] = genres_bool.apply(lambda row: ' '.join([col.split('_')[1] for col in genres_bool.columns if row[col]]), axis=1)
genres_bool

,genre_action,genre_adventure,genre_animation,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,genre_foreign,...,genre_horror,genre_music,genre_mystery,genre_romance,genre_science-fiction,genre_tv-movie,genre_thriller,genre_war,genre_western,genre
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,comedy
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,action adventure thriller
2,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,action adventure thriller
3,False,False,False,True,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,comedy drama romance
4,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,comedy horror
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45408,False,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,comedy fantasy
45409,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,documentary
45410,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,crime drama thriller
45411,True,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,action drama romance
45412,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,drama

In [135]:
df.drop(columns=genres, inplace=True)
df['genre'] = genres_bool['genre']
df['genre'] = df['genre'].tolist()
df.head()

,adult,budget,original_language,popularity,revenue,runtime,status,title,vote_average,vote_count,group,genre
0,False,0,en,8.387519,76578911,106.0,Released,Father of the Bride Part II,5.7,173,3,comedy
1,False,35000000,en,5.231580,64350171,106.0,Released,Sudden Death,5.5,174,3,action adventure thriller
2,False,58000000,en,14.686036,352194034,130.0,Released,GoldenEye,6.6,1194,2,action adventure thriller
3,False,62000000,en,6.318445,107879496,106.0,Released,The American President,6.5,199,3,comedy drama romance
4,False,0,en,5.430331,0,88.0,Released,Dracula: Dead and Loving It,5.7,210,0,comedy horror

In [136]:
year_df = pd.read_csv("../../Movies_Master_DB/movies_merged.csv", usecols=['release_date'])
df['release_date'] = year_df['release_date'].str.split('-').str[0]
df.head()

,adult,budget,original_language,popularity,revenue,runtime,status,title,vote_average,vote_count,group,genre,release_date
0,False,0,en,8.387519,76578911,106.0,Released,Father of the Bride Part II,5.7,173,3,comedy,1995
1,False,35000000,en,5.231580,64350171,106.0,Released,Sudden Death,5.5,174,3,action adventure thriller,1995
2,False,58000000,en,14.686036,352194034,130.0,Released,GoldenEye,6.6,1194,2,action adventure thriller,1995
3,False,62000000,en,6.318445,107879496,106.0,Released,The American President,6.5,199,3,comedy drama romance,1995
4,False,0,en,5.430331,0,88.0,Released,Dracula: Dead and Loving It,5.7,210,0,comedy horror,1995

In [137]:
website_df = df[['title','genre','release_date','vote_average','runtime','original_language','group']]

In [138]:
website_df.query('genre == "tv-movie"')

,title,genre,release_date,vote_average,runtime,original_language,group
8051,The Pretender 2001,tv-movie,2001,5.4,96.0,en,0
15044,David Copperfield,tv-movie,2001,4.8,0.0,it,0
20244,Gangsta Granny,tv-movie,2013,4.8,60.0,en,0
21805,October Kiss,tv-movie,2015,6.5,84.0,en,0
31664,Naughty or Nice,tv-movie,2012,6.1,90.0,en,0
33640,Den radio,tv-movie,2001,9.0,0.0,ru,0
33770,The Idiot,tv-movie,2003,7.0,550.0,ru,0

In [139]:
website_df = website_df.loc[website_df['group'] == 0]

In [140]:
website_df.drop(columns=['group'], inplace=True)

In [141]:
website_df.columns

Index(['title', 'genre', 'release_date', 'vote_average', 'runtime',
       'original_language'],
      dtype='object')

In [142]:
website_df.rename(columns={'vote_average': 'rating'}, inplace=True)
website_df.columns

Index(['title', 'genre', 'release_date', 'rating', 'runtime',
       'original_language'],
      dtype='object')

In [143]:
website_df = website_df[['title', 'genre', 'rating', 'release_date', 'runtime', 'original_language']]

In [144]:
website_df.sort_values(by=['rating'], ascending=False, inplace=True)
website_df.head()

,title,genre,rating,release_date,runtime,original_language
11353,First Round Down,action comedy,10.0,2017,0.0,en
10735,Nick Swardson: Taste It,comedy,10.0,2015,68.0,en
10973,The Reagan Show,documentary,10.0,2017,75.0,en
11123,In Search of Ancient Astronauts,documentary,10.0,1973,0.0,en
36981,Joe Cocker - Mad Dogs & Englishmen,documentary music,10.0,1971,117.0,en

In [145]:
website_df.set_index('title', inplace=True)
website_test = website_df.head(50)
website_final = website_df.head(5000)

In [146]:
website_final['genre'].replace('action adventure animation comedy crime documentary drama family fantasy foreign history horror music mystery romance science-fiction tv-movie thriller war western', 'action comedy drama family thriller', inplace=True)
website_final['genre'] = website_final['genre'].str.title()
website_final

/var/folders/k4/xs5byd6x7r56lcvls_5mzckc0000gn/T/ipykernel_1848/1926296187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  website_final['genre'].replace('action adventure animation comedy crime documentary drama family fantasy foreign history horror music mystery romance science-fiction tv-movie thriller war western', 'action comedy drama family thriller', inplace=True)
/var/folders/k4/xs5byd6x7r56lcvls_5mzckc0000gn/T/ipykernel_1848/1926296187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  website_final['genre'] = website_final['genre'].str.title()

,genre,rating,release_date,runtime,original_language
title,,,,,
First Round Down,Action Comedy,10.0,2017,0.0,en
Nick Swardson: Taste It,Comedy,10.0,2015,68.0,en
The Reagan Show,Documentary,10.0,2017,75.0,en
In Search of Ancient Astronauts,Documentary,10.0,1973,0.0,en
Joe Cocker - Mad Dogs & Englishmen,Documentary Music,10.0,1971,117.0,en
...,...,...,...,...,...
You're Not You,Drama,7.3,2014,104.0,en
The Invisible Man,Horror Science-Fiction,7.3,1933,71.0,en
Of Mice and Men,Drama,7.3,1939,106.0,en
Assassination,Action Drama History Thriller,7.3,2015,140.0,ko
You Cast A Spell On Me,Comedy Fantasy Romance,7.3,2015,85.0,en

In [147]:
website_final.columns

Index(['genre', 'rating', 'release_date', 'runtime', 'original_language'], dtype='object')

In [148]:
# website_test.to_csv("assets/resources/movie_test.csv")
website_final.to_csv("assets/resources/movie_df_for_website.csv")